:root {
  --body-background: #1c1c1e;
  --main-text: #d4d4d4;
  --link-color: #9cdcfe;
}

[data-theme='light'] {
  --body-background: #ffffff;
  --main-text: #000000;
  --link-color: #0451a5;
}

body {
  background-color: var(--body-background);
  color: var(--main-text);
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
}

a {
  color: var(--link-color);
}

.layout {
  display: flex;
  gap: 10px;
  min-height: 85vh;
  margin-bottom: 10px;
}

.sidebar {
  border: 2px solid gray;
  border-radius: 10px;
  width: 20%;
}

.sidebar p {
  margin: 5px 0px 0px 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid gray;
  margin-top: 10px;
}

.avatar img {
  width: 110%;
  height: 110%;
  margin: -5%;
  object-fit: cover;
  object-position: center;
}

.profile h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
}

.profile p {
  padding: 0px;
  margin: 0px;
}

.main-wrapper {
  width: 80%;
}

header {
  border: 2px solid gray;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

header p {
  margin: 5px 0px 0px 5px;
}

.main-content {
  border: 2px solid gray;
  border-radius: 10px;
  min-height: 75vh;
}

main p {
  margin: 5px 0px 0px 5px;
}

footer {
  border: 2px solid gray;
  height: 50px;
  border-radius: 10px;
}

footer p {
  margin: 5px 0px 0px 5px;
}